<footer>
  <div id="footer">
    <nav><ul>
          <% if signed_in? %>
            <li><%= link_to "Home", user_path(current_user) %></li>
            <li><%= link_to "Profile", edit_user_path(current_user)%></li>
            <li><%= link_to "Logout", signout_path, :method => :delete %></li>
            <li><%= link_to "Help", help_path %></li>
            <li><%= link_to "Search...", '#' %></li>
          <% else %>
              <li><%= link_to "Sign Up", signup_path %></li>
              <li><%= link_to "Help", help_path %></li>
              <li><%= link_to "Search...", '#' %></li>
          <% end %>
    </ul></nav>
    <div class="block">
      <p>Copyright &copy; <%= Time.now.year %> Web App.</p>
     </div>      
  </div>
</footer>