<header>
    <div id="header">
      <h1><%= link_to "pal.atab.le", users_path %></h1>
      <div id="user-navigation">
        <ul class="wat-cf">
          <li><%= link_to "Login", users_path %></li>
          <li><%= link_to "Sign Up", new_user_path %></li>
          <li><%= link_to "Help", help_path %></li>
          <li><%= link_to "Search Box", '#' %></li>
        </ul>
      </div>
      <div id="main-navigation">
        <ul class="wat-cf"></ul>
      </div>
    </div> 
</header>
