<!DOCTYPE html>
<html>
<head>
  <title>Bookmarks</title>
  <%= render 'layouts/stylesheets' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="container">
    <%= render 'layouts/header' %>   
    <div id="wrapper" class="wat-cf">
    <div class="flash">
      <% flash.each do |type, message| -%>
      <div class="message <%= type %>">
        <p><%= message %></p>
      </div>
      <% end -%>
    </div>
       <div id="main">
        <%= yield %>
        <%= render 'layouts/footer' %>
      </div>
      <div id="sidebar">
        <%= yield :sidebar %>
      </div>
    </div>    
  </div>
</body>
</html>
